<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=('/css/style.css')) }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="container row">
            <div class="col-8">
                <h1>Affordable Homes</h1>
                <a href="/affordablehomes/profile" class="btn btn-outline-secondary">My Profile</a>
            </div>


            <div class="col">
                <div class="container">
                    <h2>Welcome, {{session['first_name']}}</h2>
                    <a href="/affordablehomes/estimate" class="btn btn-outline-secondary">Estimate Now!</a>
                    <a href="/logout" class="btn btn-outline-secondary">Log Out</a>

                </div>
            </div>
        </div>

        <br>

        <h2>Here are some recommendations for you</h2>

        <br>

        <div class="btn-group" role="toolbar" aria-label="Basic outlined example">
            <a href="/affordablehomes/home" class="btn btn-secondary">Home </a>
            <a href="/affordablehomes/condo" class="btn btn-secondary">Condo </a>
        </div>

        <br>
        <br>

        Card Group from Bootstrap
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {%for addr in addresses%}
            <div class="col">
                <div class="card h-100" style="box-shadow:2px 2px 2px black;">
                    <a href="{{addr['web']}}"><img src="{{addr['photo']}}" alt="Property Image" style="width:70%;"></a>
                    </td>
                    <div class="card-body">
                        <h5 class="prop-addr"><a href=""> {{addr['street_address']}}, {{addr['city']}},
                                {{addr['state']}}
                                {{addr['zip_code']}}</a></h5>
                        <p class="card-text">{{"${:0,.0f}".format(addr['price'])}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>


</body>

</html>