<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=('/css/style.css')) }}">
        <title>Dashboard</title>
    <style>
    </style>
</head>
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
</style>

<body>
    <div class="container">
        <div class="header-row text-center">
            <h1 class="nav-title">Afordable Homes</h1>
            <h3>Welcome {{session['first_name']}}</h3>
            <h4>Dashboard</h4>
        </div>
        <div class="nav-row">
            <a href="/logout">Logout</a>
        </div>
        <br>
        <div class="main-row">
            <form action="/params" method="POST">
                <div class="form-input">
                    <label for="">Credit Score: </label>
                    <input type="number" name="score">
                </div>
                <div class="form-input">
                    <label for="">Max Monthly Payment:</label>
                    <input type="number" name="max_monthly">
                </div>
                <div class="form-input">
                    <label for="">Down Payment:</label>
                    <input type="number" name="down_payment">
                </div>
                <div class="form-input">
                    <label for="">City:</label>
                    <input type="text" name="city">
                </div>
                <div class="form-input">
                    <label for="">State:</label>
                    <input type="text" name="state">
                </div>
                <div class="form-input">
                    <label for="">Search Radius:</label>
                    <input type="number" name="radius">
                </div>
                <input type="submit" value="Get Listings">
            </form>
        </div>





    </div>
</body>

</html>