<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<style>
    .right {
        border: solid black 2px;
    }
</style>

<body>
    <div class="nav">
        <div class="flex">
            <h1 class="nav-title">Afordable Homes</h1>
            <h3>Welcome ...?</h3>
            <input type="submit" value="Home" class="offset-btn">
            <input type="submit" value="Log out" class="offset-btn">
        </div>
    </div>
    <div>
        <div class="mid_box">
            <div class="left">
                <p>Result of the (...?)<input type="submit" value="Edit input" class="offset-btn"></p>
                <p>For(down payment)</p>
                <p>*** credit Score</p>
                <p>For (monthly house allowance</p>
            </div>
            <div class="right" style="width:20%">
                <p>We estimete</p>
                <p>...? mortgage rate</p>
                <p>...? years Term</p>
                <p>...? max sale price</p>
            </div>
        </div>
    </div>
    <div class="column">
        <table bgcolor="#ddd" border="5" style="width:50%">
            <tr>
                <th>Name</th>
                <th>Est monthly payment</th>
                <th>Type</th>
                <th>bedroom</th>
                <th>sq ft</th>
                <th>lot size</th>
            </tr>
        </table>
        <input type="submit" value="Save" class="offset-btn">
    </div>
</body>

</html>