<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<style>
    .box {
        border: solid black 2px;
        width: 50%;
    }
    p{
        text-indent: 25px;
    }
</style>

<body>
    <div class="nav">
        <h1 class="nav-title">Afordable Homes</h1>
        <h3>Welcome ...?</h3>
        <input type="submit" value="Home" class="offset-btn">
        <input type="submit" value="Log out" class="offset-btn">
    </div>
    <p>Something To call........</p>
    <p class="box">Here you can search for homes that fall within your monthly budjet.Just fill in some <br>
    information below and we will send you results that we think you might qulify to purchase.</p>
    <div class="col">
        <form action="/...?" method="POST">
            {% with messages = get_flashed_messages(category_filter=["register"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="container">
                <label for="total" class="label-col">Your Total Down Payment</label>
                <input type="number" name="total" id="total">
            </div>
            <div class="container">
                <label for="score" class="label-col">Your Estimate Credit Score</label>
                <input type="number" name="score" id="score"><p><a href="...?">Click Here</a>to learn more about qualifying credit scores</p>
            </div>
            <div class="container">
                <label for="monthly" class="label-col">Estimate Monthly House Allowance</label>
                <input type="number" name="monthly" id="monthly"><p>include Principle, Interest, Property Tax, Insurance and HOA costs</p>
            </div>
            <input type="submit" value="Submit" class="offset-btn">
        </form>
    </div>
    <div class="box">
        <h4>Please Read:</h4>
        <p >*** All results are estimates only and in no way guarantee any kind of approval.Please consult with a<br>
            licensed Mortgage Loan or Real Estate professional to discuss your options.</p>
            <p>*** Results are for primary residence properties only based on conventional loan guidelines.</p>

    </div>

</body>

</html>
