<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>

<body>
    <div class="container">
        <p class="large big-col">Affordable Home</p>
        <p class="large big-col">Looking for ....?</p>
    </div>
    <div>
        <input type="submit" value="Login" class="offset-btn">
        <a href="/reg_page"><input type="submit" value="Sign Up" class="offset-btn"></a> 
    </div>
    <div class="col">
        <form action="/logged_in" method="POST">
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="container">
                <label for="email" class="label-col">Email/User ID:</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="container">
                <label for="password" class="label-col">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" value="Submit" class="offset-btn">
        </form>
    </div>
    </div>
</body>

</html>