<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICE PAGE</title>
</head>
<body>
    
    <form action="/params" method="POST">
        <label for="">Credit Score: </label>
        <input type="number" name="credit_score">
        <label for="">Max Monthly Payment</label>
        <input type="number" name="max_monthly">
        <label for="">Down Payment</label>
        <input type="number" name="down_payment">
        <label for="">City</label>
        <input type="text" name="city">
        <label for="">State</label>
        <input type="text" name="state">
        <label for="">Search Radius</label>
        <input type="number" name="radius">
        <input type="submit" value="Get Listings">
    </form>
</body>
</html>