<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Practice Results</title>
</head>

<body>
    <div class="container">
        <div class="container row">
            <div class="col-8">
                <h1>Affordable Homes</h1>
                <a href="/affordablehomes/profile" class="btn btn-outline-secondary">My Profile!</a>
            </div>


            <div class="col">
                <div class="container">
                    <h2>Welcome, {{session['first_name']}}</h2>
                    <a href="/affordablehomes/home" class="btn btn-outline-secondary">Home</a>
                    <a href="/logout" class="btn btn-outline-secondary">Log Out</a>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row header-row">
                <h1>Your Saved Pages</h1>
            </div>

            <table>
                <thead>
                    <th>Img</th>
                    <th>address</th>
                    <th>price</th>
                    <th>Type</th>
                    <th>Baths</th>
                    <th>Lot size</th>
                </thead>
                <tbody>
                    {%for addr in addresses%}
                    <tr>
                        <td><a href="{{addr['web']}}"><img src="{{addr['photo']}}" alt="Property Image"
                                    style="width:70%;"></a></td>
                        <td>{{addr['street_address']}}, {{addr['city']}}, {{addr['state']}}
                            {{addr['zip_code']}}</td>
                        <td>{{"${:0,.0f}".format(addr['price'])}}</td>
                        <td>{{addr['type']}}</td>
                        <td>{{addr['beds']}}</td>
                        <td>{{addr['baths']}}</td>
                        <td>{{addr['size']}} sqft.</td>
                        <td>
                            {%if addr['favorite'] == 1 %}
                            Already Saved
                            {% else %}
                            <a href="/save/{{addr['id']}}"><button value="">
                                    Save</button></a>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
</body>

</html>