*{
    padding: 0;
    margin: auto;
}
.container{
    width:95%;
}

body {
    margin: 30px;
    padding: 30px;
    max-width: auto;
    max-height: auto;
    border: 2px groove rgb(2, 106, 186);
    background-color: rgb(244, 244, 244);
}

#login_page{
    max-width: 600px;
    height: 600px;
    background-image: url(../img/imagereader.jpg);
    border: 1px groove rgb(10, 103, 175);
    background-size: cover;
    background-position: center;
}

#sign_up{
    max-width: 600px;
    height: 550px;
    background-image: url(../img/kegs.jpg);
    border: 1px groove rgb(10, 103, 175);
    background-size: cover;
    background-position: center;
}

#small_c{
    margin: 0;
    border: 0;
    padding: 0;
}

h1,h2{
    color: rgb(65, 107, 107);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.login_box{
    padding: 20px;
    color: rgb(65, 107, 107);
    font-weight: bold;
    text-shadow: -0.5px 0 beige, 0 0.5px beige, 0.5px 0 beige, 0 -0.5px beige;
    font-size: 1.5em;
}

.form-input{
    margin: 0;
    padding: 0;
}

.box-around{
    border:2px solid black;
    padding:3px;
}

.row, .input-row{
    margin-bottom:10px;
}

.card, .dsh-btn{
    box-shadow:2px 2px 2px slategray;
}

span{
    font-weight: bold;
}
